%section#editor

  %h1 Listing posts

  = link_to 'New Post', new_post_path

  %table#resultsTable
    %tr 
      %th 
        %label= 'Title' 
      %th 
        %label= 'Options'
      %th 
        %label= 'Number Comments'
      %th 
        %label= 'Date'

    - @posts.each do |post|
      %tr
        %td= link_to post.title, edit_post_path(post)
        %td
          = link_to 'Show', post
          |
          = link_to 'Edit', edit_post_path(post)
          |
          = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
        %td= link_to "#{post.comments.count} comments", post
        %td= post.label_time

    %br
  
  #navigationDiv

:javascript
  pager.init();
  pager.showPageNav('pager', 'navigationDiv');
  pager.showPage(1);